@font-face {
  font-family: "MinecraftSeven";
  src: url("font/Minecraft Seven_2.ttf");
}

@font-face {
  font-family: "MinecraftTen";
  src: url("font/Minecraft Seven_2.ttf");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background: #122020;
    grid-template-areas: "main" "footer";
    font-family: "MinecraftSeven";
    
}
main{
    grid-area: main;
    display: grid;
    /* grid-template-columns: repeat(35, 1fr);
    grid-template-rows: repeat(25, 1fr); */
    grid-template-columns: repeat(25, 4%);
    grid-template-rows: repeat(25, 4%);
    width: 100%;
    height: 80vh;
}

.sky{
    background: #9ce9e9;
}
div:hover{
    border-style: groove;
    border-color: white;
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #122020;
    height: 20vh;
}
button{
    background: #444;
    border-radius: 30%;
}
button img{
    height: 3rem;
    width: 3rem;
    
}
.grass{
    background: url(/img/grass1.png);
    background-size: contain;   
}
.soil{
    background: url(/img/soil1.png);
    background-size: contain;   
}
.stone{
    background: url(/img/Stone1.jpg);
    color: (blue);
}
.wood{
    background: url(/img/wood1.png);
    background-size: contain;   
}
.leaves{
    background: url(/img/leaves1.png);
    background-size: contain;   
}
.monster{
    background: url(/img/creeperBody.png);
    background-size: contain;    
}
#face{
    background: url(/img/creeperFace.png);
    background-size: contain;
}
#stone{
    background: url(/img/Stone1.jpg);
    background-size: cover;
}
#diamond{
    background: url(/img/diamond.png);
    background-size: cover;
}
#gold{
    background: url(/img/gold.png);
    background-size: cover;
}
#redstone{
    background: url(/img/redstone.jpeg);
    background-size: cover;
}
#coal{
    background: url(/img/coal.png);
    background-size: cover;
}
#box{
    height:10rem;
}
#inventory{
    display: none;
    background: #444;
    overflow: hidden;
    height: 100px;
    margin-bottom: 100vh;
    width: 500px;
    position: absolute;
}
#reset{
    height: 5em;
    width: 12em;
}
#reset a{ 
    text-decoration: none;
    color: #e7ecec;
    font-family: "MinecraftSeven";
    font-size: x-large;
}
#declare{
    display: grid;
    margin-top: 5%;
    padding-top: 2%;
    height: 40%;
    background: #444;
    border-radius: 30%;
    color: white;
    border-style: none;
}