body{
    background: #122020;
    grid-template-areas: "main" "footer";
}
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(25, 4%);
    grid-template-rows: repeat(25, 4%);
    width: 100%;
    height: 80vh;
}

.sky{
    background: #9ce9e9;
}
div:hover{
    border-style: groove;
    border-color: white;
}
footer{
    grid-area: footer;
    display: flex;
    background: #122020;
    height: 20vh;
}
button{
    background: #444;
}
button img{
    height: 3rem;
    width: 3rem;
    
}