body{
    background: #9ce9e9;
    /* @font-face {
        font-family: "MinecraftSeven";
        src: url('font/Minecraft Seven_2.ttf');
    } */
     @font-face {
  font-family: "MinecraftSeven";
  src: url("../assets/fonts/MinecraftSeven.ttf");
}

@font-face {
  font-family: "MinecraftTen";
  src: url("../assets/fonts/minecraftTen.ttf");
}
}
.sky{
    background: #9ce9e9;
}
main{
    display: grid;
    grid-template-columns: repeat(25, 4%);
    grid-template-rows: repeat(25, 4%);
    width: 100%;
    height: 80vh;
}
main div{
    height: 3rem;
    width: 3rem;
}
.fraction{
    display: grid;
    grid-row: subgrid;
    grid-row: span 25;
}
div:hover{
    border-style: groove;
    border-color: white;
}
footer{
    display: flex;
    background: #122020;
    height: 20vh;
}
button{
    background: #444;
}
button img{
    height: 3rem;
    width: 3rem;
    
}